<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>kreiling.nico</string>
	<key>category</key>
	<string>Dev</string>
	<key>connections</key>
	<dict>
		<key>A7286086-1484-4E76-9256-6635DED01F68</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB4F63E8-899C-4DA5-BF7D-75FAABB68A4F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>127BFDCE-C986-4B52-84AC-832988B34201</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>copy command</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>800DF4A0-4936-41F5-817E-0BD346889566</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>debug entry</string>
			</dict>
		</array>
		<key>BB4F63E8-899C-4DA5-BF7D-75FAABB68A4F</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Nico Kreiling</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>CheatSheets</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>read link id &lt;&lt;&lt; "{query}"

open -a "/Applications/Google Chrome.app" "$link"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BB4F63E8-899C-4DA5-BF7D-75FAABB68A4F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>127BFDCE-C986-4B52-84AC-832988B34201</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>cheat</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>searching cheats..</string>
				<key>script</key>
				<string>python run.py "{query}"</string>
				<key>title</key>
				<string>cheat ...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A7286086-1484-4E76-9256-6635DED01F68</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>read link id &lt;&lt;&lt; "{query}"

open -a "/Applications/Google Chrome.app" "http://35.157.154.191:9200/cheatsheets/markdown/_search?pretty&amp;q=_id:${id}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>800DF4A0-4936-41F5-817E-0BD346889566</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>127BFDCE-C986-4B52-84AC-832988B34201</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>800DF4A0-4936-41F5-817E-0BD346889566</key>
		<dict>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>A7286086-1484-4E76-9256-6635DED01F68</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>BB4F63E8-899C-4DA5-BF7D-75FAABB68A4F</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
